In [1]:
import numpy as np

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
data=pd.read_csv("Train.csv")

In [4]:
data.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [5]:
datanp=data.values

In [6]:
datanp

array([[ 2.93416239e-01, -9.45598713e-01, -4.21105147e-01,
         4.06816021e-01,  5.25661832e-01, -8.21546666e+01],
       [-8.36084081e-01, -1.89228039e-01, -7.76402618e-01,
        -1.05383124e+00,  5.97996852e-01, -4.88979602e+01],
       [ 2.36425114e-01,  1.32836018e-01, -1.47722982e-01,
         6.99853963e-01, -1.87364163e-01,  7.72703707e+01],
       ...,
       [ 1.04417694e+00, -8.99206485e-01,  1.73039905e+00,
        -1.87105676e+00,  4.42519647e-01, -1.07510508e+02],
       [-1.26917290e+00, -5.05215916e-03,  1.85766873e+00,
        -1.08036482e+00,  7.36333937e-01, -4.73415578e+01],
       [-1.88400025e+00, -8.49427430e-01, -1.45227035e+00,
         4.88613076e-01,  1.45957580e+00, -1.15939003e+02]])

In [7]:
X_train=datanp[:,:-1]
Y_train=datanp[:,-1]

In [8]:
X_train

array([[ 0.29341624, -0.94559871, -0.42110515,  0.40681602,  0.52566183],
       [-0.83608408, -0.18922804, -0.77640262, -1.05383124,  0.59799685],
       [ 0.23642511,  0.13283602, -0.14772298,  0.69985396, -0.18736416],
       ...,
       [ 1.04417694, -0.89920649,  1.73039905, -1.87105676,  0.44251965],
       [-1.2691729 , -0.00505216,  1.85766873, -1.08036482,  0.73633394],
       [-1.88400025, -0.84942743, -1.45227035,  0.48861308,  1.4595758 ]])

In [9]:
Y_train

array([ -82.15466656,  -48.89796018,   77.2703707 , ..., -107.51050797,
        -47.34155781, -115.93900296])

In [10]:
Y_train=Y_train.reshape((1600,1))
Y_t=np.mat(Y_train)

In [11]:
(r,c)=X_train.shape
r

1600

In [12]:
z=np.ones((r,1))

In [13]:
#Normalizing x attribute values. Make sure to use these mean & std when normalizing test values
x_mean=X_train.mean(axis=0)
x_std=X_train.std(axis=0)
print(x_mean,x_std)
X_train=((X_train-x_mean)/x_std)
X_train=np.mat(X_train)
X_train

[ 0.0041143  -0.0276038  -0.04445943 -0.04240792  0.01200535] [0.99702582 1.02145636 1.01145129 1.01687155 0.97834768]

matrix([[ 0.29016495, -0.89871183, -0.37238147,  0.44177059,  0.52502448],
        [-0.84270473, -0.15822922, -0.72365639, -0.99464217,  0.59896038],
        [ 0.23300381,  0.15706968, -0.10209444,  0.72994655, -0.20378187],
        ...,
        [ 1.0431652 , -0.8532941 ,  1.75476416, -1.79830858,  0.44004223],
        [-1.27708547,  0.02207793,  1.88059294, -1.0207355 ,  0.74035908],
        [-1.89374689, -0.80456069, -1.39187219,  0.52221049,  1.47960738]])

In [14]:
x=np.mat(np.hstack((z,X_train)))

In [15]:
x

matrix([[ 1.        ,  0.29016495, -0.89871183, -0.37238147,  0.44177059,
          0.52502448],
        [ 1.        , -0.84270473, -0.15822922, -0.72365639, -0.99464217,
          0.59896038],
        [ 1.        ,  0.23300381,  0.15706968, -0.10209444,  0.72994655,
         -0.20378187],
        ...,
        [ 1.        ,  1.0431652 , -0.8532941 ,  1.75476416, -1.79830858,
          0.44004223],
        [ 1.        , -1.27708547,  0.02207793,  1.88059294, -1.0207355 ,
          0.74035908],
        [ 1.        , -1.89374689, -0.80456069, -1.39187219,  0.52221049,
          1.47960738]])

In [16]:
a=np.array([[1,2,3]])
b=np.array([[5,6,7]])
b=b.reshape((3,1))

In [17]:
a

array([[1, 2, 3]])

In [18]:
b

array([[5],
       [6],
       [7]])

In [19]:
a*b

array([[ 5, 10, 15],
       [ 6, 12, 18],
       [ 7, 14, 21]])

In [20]:
np.dot(a,b)

array([[38]])

In [21]:
a=np.vstack(([[7,8,9]],a))

In [22]:
a=np.vstack(([[4,8,1]],a))

In [23]:
np.dot(a,b)

array([[ 75],
       [146],
       [ 38]])

In [24]:
a=np.mat(a)
b=np.mat(b)
a*b

matrix([[ 75],
        [146],
        [ 38]])

In [98]:
x.shape

(1600, 6)

x_mean=x.mean(axis=0)
x_std=x.std(axis=0)
print(x_mean,x_std)
x=((x-x_mean)/x_std)
print(x)

In [108]:
##import X and theta as matrix and not vector else dot need to be used. Here it is matrix so mat multiplication works.
##mini-batch gradient descent method (sp case-stochastic grad. descent)
def hypothesis(X,theta):
    tt=0
    if theta.shape[1]==1:
        tt=X*theta
    elif theta.shape[0]==1:
        tt=X*theta.T
    return tt
def gradient(X,y,theta):
    vec=hypothesis(X,theta)
    (r1,c1)=vec.shape
    y=y.reshape((r1,c1))
    new_vec=vec-y
    #print("new_vec",new_vec.shape,"X.T",X.T.shape)
    grad=X.T*new_vec
    return grad/(X.shape[0])
def gradientDescent(X,y,lr=0.01,iteration=1000,batch_size=40):
    theta=np.mat(np.zeros((6,1)))
    avg_error=[]
    cutlist=0
    for i in range(0,iteration,1):
        n=int(X.shape[0]/batch_size)
        for j in range(0,n,1):
            theta=theta-(lr*gradient(X[j*batch_size:(j+1)*batch_size],y[j*batch_size:(j+1)*batch_size],theta))
        check=errorfunc(X,y,theta)
        avg_error.append(check[0,0])
        if cutlist==round(check[0,0],5):
            #print("hmmmm")
            break
        cutlist=round(check[0,0],5)
    return theta,avg_error
def errorfunc(X,y,theta):
    y_=hypothesis(X,theta)
    t_error=(y_-y).T*(y_-y)
    return t_error/(X.shape[0])
(theta,error_list)=gradientDescent(x,Y_t)
print(theta)
print(error_list)

[[ 0.25963001]
 [29.70709728]
 [94.66467276]
 [ 8.3307479 ]
 [45.43008499]
 [ 2.5179388 ]]
[5754.581045338579, 2827.459392307312, 1507.1597008612393, 910.5268113636143, 640.4169767545775, 517.9076728469937, 462.24133539345, 436.90085248901886, 425.3438112047167, 420.0628841587092, 417.64494614493304, 416.53546923281203, 416.02515637579097, 415.7897778479039, 415.68084377285754, 415.63021385660727, 415.6065517814662, 415.5954115563865, 415.5901145500158, 415.5875622656819, 415.58631072736375, 415.5856830259766, 415.585359317087, 415.5851868463596, 415.58509160384136, 415.5850370455673, 415.58500468526677, 415.58498489105676, 415.5849724706084, 415.58496452021643, 415.5849593552523]

theta=np.mat(np.zeros((6,1)))
theta

## Making Predictions ##

In [28]:
y_=x*theta

## R2 score ##

In [44]:
def score(y,y_):
    num=(y_-y).T*(y_-y)
    print(num)
    tty=np.mat(np.ones((y_.shape[0],1)))
    tty=y.mean()*tty
    deno=(y-tty).T*(y-tty)
    print(deno)
    s=(1-(num[0,0]/deno[0,0]))
    return s
R2s=score(Y_t,y_)
print(R2s)

[[664886.08871317]]
[[19609646.01284886]]
0.9660939270256327

In [29]:
y_

matrix([[ -57.86195308],
        [ -89.43767684],
        [  53.94367496],
        ...,
        [-115.65273161],
        [ -64.28064957],
        [-116.08633276]])

In [30]:
Y_t

matrix([[ -82.15466656],
        [ -48.89796018],
        [  77.2703707 ],
        ...,
        [-107.51050797],
        [ -47.34155781],
        [-115.93900296]])

In [78]:
testing=pd.read_csv("Test.csv")

In [79]:
testing.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [80]:
test=testing.values

In [81]:
test=np.mat(test)

In [82]:
test=(test-x_mean)/x_std

In [83]:
zzz=np.mat(np.ones((test.shape[0],1)))

In [84]:
test=np.hstack((zzz,test))

In [85]:
soln=test*theta

In [86]:
df=pd.DataFrame(soln)

In [87]:
df.to_csv("lalu.csv")

In [88]:
df.columns=['target']

In [89]:
df

         target
0    114.572823
1    117.987250
2    -21.729764
3    -43.925577
4    -95.910372
..          ...
395  -81.964494
396 -186.010186
397  125.278399
398   65.357492
399   57.050210

[400 rows x 1 columns]

In [90]:
df.to_csv("data1.csv")

In [91]:
tt=pd.read_csv("data1.csv",index_col=False)

In [92]:
tt.head()

   Unnamed: 0      target
0           0  114.572823
1           1  117.987250
2           2  -21.729764
3           3  -43.925577
4           4  -95.910372

In [93]:
tt.columns=['Id','target']

In [94]:
tt

      Id      target
0      0  114.572823
1      1  117.987250
2      2  -21.729764
3      3  -43.925577
4      4  -95.910372
..   ...         ...
395  395  -81.964494
396  396 -186.010186
397  397  125.278399
398  398   65.357492
399  399   57.050210

[400 rows x 2 columns]

In [96]:
tt.to_csv('submission1.csv',index=False)